/* *{
    --primaryColor: #588157; /* variabler i css */
 /*   --backgroundAndSmallText: #DAD7CD;
    --otherText: #2a3d34;
    --topBarColor: #3a5a40;
}*/

.button {
    -fx-background-color: #588157;
    -fx-text-fill: white;
}
.table-view{
    -fx-text-fill: #588157;
}
.backbutton{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: black;
}

.backgroundMain{
    -fx-background-color: #DAD7CD;

}

.backgroundLogin{
    -fx-background-color: #DAD7CD;

}
.backgroundOther{
    -fx-background-color: #DAD7CD;

}

.dataItem{
    -fx-background-color: #588157;
    -fx-background-radius: 25px;
}
.dataItemTitle{
    -fx-border-style: solid;
    -fx-border-width: 0 0 2px 0;
}

.combo-box{
    -fx-font-size: 16px;
}

.smallText{
   /* -fx-font-size: 12px;*/
    -fx-text-fill: #DAD7CD;
}
.normalText{
    /*-fx-font-size: 24px;*/
    -fx-text-fill: #2a3d34;
}
.bigText{
    /*-fx-font-size: 32px;*/
    -fx-text-fill: #2a3d34;
}

#topBar{
    -fx-background-color: #3a5a40;
}
#sideMenu{
    -fx-background-color: #588157;
    -fx-border-style: solid;
    -fx-border-width: 0 2px 0 0;
}